@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
#query-window .text-field {
  width: 100%;
  height: 200px;
}

.label-field,
.schema-label {
  font-family: "PT Mono", monospace;
  color: #6cbba9;
  margin-left: 8px;
}

#splash-menu button {
  border: 0.5px #444c50 solid;
  background-color: #596368;
  border-radius: 3px;
  padding: 5px;
  border: none;
  font-size: 1em;
  outline: none;
}

#splash-menu button:hover {
  background-color: #c6d2d5;
}

#query-panel button {
  border: 0.5px #444c50 solid;
  background-color: #596368;
  border-radius: 3px;
  padding: 5px;
  border: none;
  font-size: 0.8em;
  outline: none;
}

#query-panel button:hover {
  background-color: #c6d2d5;
}

#main-right button {
  border: 0.5px #444c50 solid;
  background-color: #596368;
  border-radius: 3px;
  border: none;
  font-size: 0.8em;
  outline: none;
}

#main-right button:hover {
  background-color: #6cbba9;
}

textarea {
  min-height: 300px;
  background-color: #444c50;
  margin: 10px 0;
  width: 90%;
  padding: 8px;
  outline: none;
  border: none;
  color: #6cbba9;
  font-family: "PT Mono", monospace;
}

table.scroll-box {
  border: 0.5px solid #444c50;
  background: none;
  overflow: scroll;
  padding: 5px;
  font-size: 1em;
  line-height: 1.5em;
}

tbody .top-row {
  border-bottom: 1px solid #444c50;
}

tbody .top-row td {
  font-weight: bold;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #444c50;
  border: none;
  padding: 7px;
  min-width: 240px;
  outline: none;
}

input *:focus {
  outline: none;
}

#data-table {
  overflow-y: auto;
  height: 300px;
}

.query-data {
  width: 1000px;
}

#codemirror {
  padding: 15px 0;
}

.input-schema-button {
  padding: 10px;
  width: 50px;
  margin-bottom: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

.schema-roadmap ul {
  list-style: none;
}

.schema-roadmap li {
  display: inline;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 5px grey;
          box-shadow: inset 0px 0px 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6d2d5;
  border-radius: 15px;
}
