@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
#splash-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #c6d2d5;
}

#splash-page .splash-prompt {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
}

#splash-page .splash-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#splash-page .splash-buttons button {
  border: 0.5px #444c50 solid;
  background-color: #596368;
  border-radius: 3px;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #2b2d35;
  outline: none;
  margin: 0 5px;
}

#splash-page .splash-buttons button:hover {
  background-color: #6cbba9;
}

#splash-page img {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

#splash-page .logo {
  background-image: url("../../images/logo_color.png");
  width: 360px;
  height: 362px;
}

#main-panel {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../images/logo_monochrome.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

#main-left {
  width: 34%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #292a30;
}

#history-panel {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.history-container {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow-y: auto;
}

#compare-panel {
  display: flex;
  flex-grow: 1;
}

#main-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

#test-panels {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#schema-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
  padding: 15px;
  border-right: 0.5px solid #444c50;
}

#query-panel {
  display: flex;
  flex-direction: column;
  height: 50%;
  z-index: 1000;
}

#data-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#schema-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;
  height: 100%;
}

#results-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.results-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
}
