@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
.modal {
  width: 615px;
  height: 600px;
  background-color: #30353a;
  border: 0.5px solid #1a1a1a;
  -webkit-transition: 1.1s ease-out;
  transition: 1.1s ease-out;
  -webkit-box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
  padding: 20px;
  z-index: 1010;
  position: fixed;
  top: 100px;
}

.modal button {
  padding: 10px;
  margin: 10px 0;
}

.modal.off {
  opacity: 0;
  visibility: hidden;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  -webkit-box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}

.modal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.modal .content {
  padding: 1rem;
}

.modal input {
  margin: 10px 0;
  display: block;
  color: #6cbba9;
  font-family: "PT Mono", monospace;
}

.schema-text-field {
  height: 300px;
  width: 600px;
}

#modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
