@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");*{margin:0;padding:0}body{background-color:#2d40b0;font-family:Arial, Helvetica, sans-serif;line-height:1/6}
