@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
#query-window .text-field {
  width: 100%;
  height: 200px;
}

.label-field,
.schema-label {
  font-family: "PT Mono", monospace;
  color: #6cbba9;
  margin-left: 8px;
}

#splash-menu button {
  border: 0.5px #444c50 solid;
  background-color: #596368;
  border-radius: 3px;
  padding: 5px;
  border: none;
  font-size: 1em;
  outline: none;
}

#splash-menu button:hover {
  background-color: #c6d2d5;
}

#query-panel button {
  border: 0.5px #444c50 solid;
  background-color: #596368;
  border-radius: 3px;
  padding: 5px;
  border: none;
  font-size: 0.8em;
  outline: none;
}

#query-panel button:hover {
  background-color: #c6d2d5;
}

#main-right button {
  border: 0.5px #444c50 solid;
  background-color: #596368;
  border-radius: 3px;
  border: none;
  font-size: 0.8em;
  outline: none;
}

#main-right button:hover {
  background-color: #6cbba9;
}

textarea {
  min-height: 300px;
  background-color: #444c50;
  margin: 10px 0;
  width: 90%;
  padding: 8px;
  outline: none;
  border: none;
  color: #6cbba9;
  font-family: "PT Mono", monospace;
}

table.scroll-box {
  border: 0.5px solid #444c50;
  background: none;
  overflow: scroll;
  padding: 5px;
  font-size: 1em;
  line-height: 1.5em;
}

tbody .top-row {
  border-bottom: 1px solid #444c50;
}

tbody .top-row td {
  font-weight: bold;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #444c50;
  border: none;
  padding: 7px;
  min-width: 240px;
  outline: none;
}

input *:focus {
  outline: none;
}

#data-table {
  overflow-y: auto;
  height: 300px;
}

.query-data {
  width: 1000px;
}

#codemirror {
  padding: 15px 0;
}

.input-schema-button {
  padding: 10px;
  width: 50px;
  margin-bottom: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

.input-schema {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 5px grey;
          box-shadow: inset 0px 0px 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6d2d5;
  border-radius: 15px;
}

#splash-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #c6d2d5;
  background-image: url("../../images/logo_color.png");
  background-repeat: no-repeat;
  background-position-y: 25vh;
  background-position-x: center;
}

#splash-page .splash-prompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 300px;
  text-align: center;
}

#splash-page .splash-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}

#splash-page .splash-buttons button {
  border: 0.5px #444c50 solid;
  background-color: #596368;
  border-radius: 3px;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #2b2d35;
  outline: none;
  margin: 0 5px;
}

#splash-page .splash-buttons button:hover {
  background-color: #6cbba9;
}

#splash-page img {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

#main-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../images/logo_monochrome.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

#main-left {
  width: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  background-color: #292a30;
}

#history-panel {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  overflow-y: auto;
}

#compare-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

#test-panels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

#schema-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  border-right: 0.5px solid #444c50;
}

#query-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  z-index: 1000;
}

#data-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#schema-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 15px;
  height: 100%;
}

#results-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  overflow-y: auto;
}

.modal {
  width: 615px;
  height: 700px;
  background-color: #30353a;
  border: 0.5px solid #1a1a1a;
  -webkit-transition: 1.1s ease-out;
  transition: 1.1s ease-out;
  -webkit-box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
  padding: 40px;
  z-index: 1010;
  position: fixed;
  top: 100px;
}

.modal button {
  padding: 10px;
  margin: 10px 0;
}

.modal.off {
  opacity: 0;
  visibility: hidden;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  -webkit-box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}

.modal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.modal .content {
  padding: 1rem;
}

.modal input {
  margin: 10px 0;
  display: block;
  color: #6cbba9;
  font-family: "PT Mono", monospace;
}

.schema-text-field {
  height: 300px;
  width: 600px;
}

.modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-buttons .input-button {
  margin-left: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2d35;
  font-family: "PT Sans", sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1/5;
  color: #c6d2d5;
  height: 100%;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h4 {
  font-weight: 100;
  font-size: 18px;
}

.compare-box {
  border: 0.5px solid #444c50;
  background: none;
  overflow: scroll;
  padding: 5px;
  font-size: 1em;
  line-height: 1.5em;
}

#compare-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2rem;
}

.compare-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  height: 200px;
}

.compare-box {
  border: 0.5px solid #444c50;
  background: none;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5em;
}

#add-query-button {
  width: 120px;
  margin-bottom: 15px;
  background-color: #596368;
  border-radius: 3px;
  padding: 5px;
  border: none;
  font-size: 0.8em;
  outline: none;
}

#add-query-button:hover {
  background-color: #c6d2d5;
}

.delete-query-button {
  width: 15px;
  background-color: transparent;
  font-size: 0.8em;
  outline: none;
  color: #c6d2d5;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.delete-query-button:hover {
  color: red;
}

.queryItem {
  background-color: #30353a;
  width: 100px;
  color: #c6d2d5;
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  text-decoration: none;
  font-family: 'PT Mono', monospace;
}

.queryItem:hover {
  background-color: #c6d2d5;
  color: #30353a;
}

.line-chart {
  margin-top: 2rem;
}

.bar-chart {
  margin-top: 3rem;
  height: 300px;
  display: block;
}

.close-button {
  top: 20px;
  right: 30px;
  position: fixed;
  background-color: transparent;
  font-weight: bold;
}
