@import './variables.scss';

#query-window {
  .text-field {
    width: 100%;
    height: 200px;
  }
}

.label-field,
.schema-label {
  font-family: $font-input;
  color: $mint-green;
  margin-left: 8px;
}

#splash-menu {
  button {
    border: 0.5px $border-darkmode solid;
    background-color: $button-darkmode;
    border-radius: 3px;
    padding: 5px;
    border: none;
    font-size: $default-text;
    outline: none;
  }
  button:hover {
    background-color: $primary-color-darkmode;
  }
}

#query-panel {
  button {
    border: 0.5px $border-darkmode solid;
    background-color: $button-darkmode;
    border-radius: 3px;
    padding: 5px;
    border: none;
    font-size: $default-text;
    outline: none;
  }
  button:hover {
    background-color: $primary-color-darkmode;
  }
}

textarea {
  min-height: 300px;
  background-color: $border-darkmode;
  margin: 10px 0;
  width: 90%;
  padding: 8px;
  outline: none;
  border: none;
  color: $mint-green;
  font-family: $font-input;
}

table.scroll-box {
  border: 0.5px solid $border-darkmode;
  background: none;
  overflow: scroll;
  padding: 5px;
  font-size: $default-text;
  line-height: 1.5em;
}

tbody {
  .top-row {
    border-bottom: 1px solid $border-darkmode;
    td {
      font-weight: bold;
    }
  }
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: $border-darkmode;
  border: none;
  padding: 7px;
  min-width: 240px;
  outline: none;
  *:focus {
    outline: none;
  }
}

#data-table {
  overflow-y: auto;
  height: 300px;
}

.query-data {
  width: 1000px;
}

#codemirror {
  padding: 15px 0;
}

.input-schema-button {
  width: 120px;
  margin-bottom: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color-darkmode;
  border-radius: 15px;
}