@import './variables.scss';

#splash-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // overflow: hidden;
  color: $primary-color-darkmode;
  .splash-prompt {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
  }
  .splash-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    button {
      border: 0.5px $border-darkmode solid;
      background-color: $button-darkmode;
      border-radius: 3px;
      padding: 10px;
      border: none;
      font-size: 1em;
      font-weight: bold;
      color: $background-darkmode;
      outline: none;
      margin: 0 5px;
    }
    button:hover {
      background-color: $mint-green;
    }
  }
  img {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
  }
  .logo {
    background-image: url('../../images/logo_color.png');
    width: 360px;
    height: 362px;
  }
}

#main-panel {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-image: url('../../images/logo_monochrome.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

#main-left {
  width: 34%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: $background-darkmode-darker;
}
#history-panel {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.history-container{
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow-y: auto;
}

#compare-panel {
  display: flex;
  flex-grow: 1;
}

#main-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

#test-panels {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#schema-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
  padding: 15px;
  border-right: 0.5px solid $border-darkmode;
}
#query-panel {
  display: flex;
  flex-direction: column;
  height: 50%;
  z-index: 1000;
}
#data-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#schema-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;
  height: 100%;
}

#results-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.results-container{
  display:flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
}
