#main-panel {
  display: flex;
  flex-direction: row;
}

// #main-left {
//   display: flex;
// }
#main-right {
  display: flex;
  flex-direction: row;
}
#schema-left {
  display: flex;
  flex-direction: column;
}
