@import './variables.scss';
@import './components.scss';
@import './layout.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-light;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1/6;
  color: $primary-color;
}
