@import './variables.scss';
@import './components.scss';
@import './layout.scss';
@import './modal.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-darkmode;
  font-family: $font-stack;
  font-weight: $p-weight;
  font-size: $default-text;
  line-height: 1/5;
  color: $primary-color-darkmode;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h4 {
  font-weight: $p-weight;
  font-size: 18px;
}
