@import './variables.scss';
@import './components.scss';
@import './layout.scss';
@import './modal.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-darkmode;
  font-family: $font-stack;
  font-weight: $p-weight;
  font-size: $default-text;
  line-height: 1/5;
  color: $primary-color-darkmode;
  height: 100%;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h4 {
  font-weight: $p-weight;
  font-size: 18px;
}

#compare-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2rem;
}

.compare-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  height: 200px;
}

.compare-box {
  border: 0.5px solid #444c50;
  background: none;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5em;
}

#add-query-button {
  width: 120px;
  margin-bottom: 15px;
  background-color: #596368;
  border-radius: 3px;
  padding: 5px;
  border: none;
  font-size: 14px;
  outline: none;
}

#add-query-button:hover {
  background-color: #c6d2d5; 
}

.delete-query-button {
  width: 15px;
  background-color: transparent;
  font-size: 12px;
  outline: none;
  color: #c6d2d5;
  box-shadow: none;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.delete-query-button:hover {
  color:rgb(255, 0, 0);
}

.queryItem {
  background-color: #30353a;
  width: 100px;
  color: #c6d2d5;
  display: block;
  align-content: center;
  padding: 10px;
  text-decoration: none;
  font-family: "PT Mono", monospace;
}

.queryItem:hover {
  background-color:#c6d2d5;
  color: #30353a;
}

.line-chart{
  margin-top: 2rem;
}

.bar-chart{
  margin-top: 3rem;
  height: 300px;
  display: block;
}
