@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// typography
$font-stack: 'PT Sans', sans-serif;
$p-weight: 100;
$title-weight: 300;
$default-text: 12px;

// colors
$background-darkmode: #373737;
$background-lightmode: #9abacc;
$primary-color-lightmode: #1a1a1a;
$primary-color-darkmode: #e2e2e2;

$primary-color-lightmode-75: lighten($primary-color-lightmode, 25%);
