.field-info-input {
  display: flex;
  justify-content: space-between;
}

.field-info-input > input {
  text-align: center;
}

.field-info-dropdown {
  display: flex;
  justify-content: space-between;
}

.field-info-checkbox {
  display: flex;
  justify-content: space-between;
}

.checkbox-wrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.field-summary-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.field-summary-wrapper > p {
  width: 50%;
}

.field-summary-wrapper > p {
  width: 50%;
  text-align: left;
}

#delete-btn {
  float: right;
}

.table-header > label {
  color: '#57a777';
  font-size: 25px;
  font-weight: bold;
  margin: 2px;
}

.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px;
  width: 350px;
  margin: 0px;
}


