.field-info-input {
  display: flex;
  justify-content: space-between;
  color: black;
}

.field-info-input > input {
  text-align: center;
  color: black;
}

.field-info-dropdown {
  display: flex;
  justify-content: space-between;
  color: black;
}

.field-info-checkbox {
  display: flex;
  justify-content: space-between;
  color: black;
}

.checkbox-wrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.field-summary-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
}

.field-summary-wrapper > p {
  width: 50%;
  text-align: left;
}

#delete-btn {
  float: right;
}

.table-header label {
  color: rgba(0, 0, 0, .6);
  font-size: 1rem;

}

.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px;
  width: 350px;
  margin: 0px;
}

.table-header svg {
  color: rgba(0, 0, 0, .54);
}

.table-header > div > div > input {
  color: rgba(0, 0, 0, .87);
}

.add-column {
  color: rgba(0, 0, 0, .54);
  font-size: 1.5rem;
}


