name: Electron Release

# This workflow is responsible for automatically building and releasing the electron app on pushes to the master branch. Build specific configurations are set in electron-builder.yml. 

# When ready to release a new version:
# 1. create a draft release and set tag to the new version
# 2. adjust version in package.json
# 3. commit
# 4. tag commit with the new version (ie. v4.0.0) - version must be prefixed by "v"
# 5. push commit and tag (git push && git push --tags)
# 6. This workflow should be triggered and in about 8 minutes the binaries will be available in the release draft

on:
  push:
    branches: [master]
  # pull_request:
  #   branches: [master]
  # create:
  #   branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  release:
    runs-on: ${{ matrix.os }}

    env:
      NODE_OPTIONS: '--max_old_space_size=4096'

    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Build/release Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.github_token }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}

          # # always release
          args: --publish always
